<form action="/admin/generate-fake-posts" method="post">
    <div class="form-group">
        <label for="amount">Fake post</label><br>
        <input name="amount" type="number" >
    </div>
    <button type="submit" class="btn btn-primary">Create fake post</button>
</form>